.shopping-list-container {
	margin: auto;
	width: 90%;
	max-width: 500px;
}
h3 {
	text-align: center;
}
.center-button {
	left: 50%;
	transform: translate(-50%, 0);
	margin-block: 0.5rem !important;
}
