.item-card {
	display: grid;
	grid-template-columns: 40px auto 40px;
	align-items: center;
	max-width: 30rem;
	min-height: 3rem;
	margin-block: 0.2rem;
	margin-inline: 0.5rem;
	padding-block: 0.2rem;
	padding-inline: 0.5rem;
	box-shadow: 3px 5px 15px -7px rgba(0, 0, 0, 0.15) !important;
	border-radius: 0.5rem;
	border: 0.01em solid rgba(255, 255, 255, 0.062);
}
.item-card-bought {
	filter: brightness(75%);
}
