.app-body {
	min-width: 100vw;
	min-height: 100vh;
}
.app-content {
	margin-block: 1.2rem;
	min-width: 100%;
	min-height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-items: center;
}
