.app-body {
	min-width: 100vw;
	min-height: 100vh;
}
.app-content {
	margin-block: 1.2rem;
	min-width: 100%;
	min-height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-items: center;
}
#add-button-icon {
	background-color: #22416c;
	border-radius: 50%;
	font-size: 60px;
	padding: 0.5rem;
	color: #74b9c2 !important;
	transform: translate(0, -10px);
}
.MuiBottomNavigationAction-root {
	color: rgba(173, 202, 203, 0.58) !important;
}
.MuiBottomNavigationAction-root.Mui-selected {
	color: #74b9c2 !important;
}
